name: Dependabot Updates
version: 2
  workflow_dispatch: # Permite rodar manualmente na aba Actions
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
    allow:
      - dependency-type: "all"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
    allow:
      - dependency-type: "all"
